.App {
  text-align: center;
}
h1{
  color: blueviolet;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

.button{
    width: 15%;
    background-color: rgb(10, 119, 243);
    font-size: 20px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
    size: 30px;
  }
  to {
    transform: rotate(360deg);
    color: yellow;
    size: 80px;
  }
}
.bg-body-tertiary{
  background-color: rgb(98, 98, 253);
  color: yellow;
}